<form action="/editmessage" method="POST" class="form-horizontal">
    <input type="text" id="uuid" name="uuid">
    <input type="text" id="minor" name="minor" value="0">
    <input type="text" id="major" name="major" value="0">
    <input type="text" id="message" name="message">
    <input type="submit" name="Submit" value="Insert" class="btn">
</form>