<form action="/newuser" method="POST" class="form-horizontal">
    <input type="text" id="name" name="name">
    <input type="text" id="age" name="age">
    <input type="text" id="gender" name="gender">
    <input type="text" id="email" name="email">
    <input type="submit" name="Submit" value="Insert" class="btn">
</form>